target/
tpcds-data/
spark-warehouse/
.bsp/
.idea/
lib*/
metastore_db/
dag-gen/
derby.log
parquet-to-csv.scala
server-log/
tpcds-csv/
venv/
*.log
error_analysis/
flink-exceptions.txt
tpcds-csv.zip
coverage-dumps/
coverage-report*/
jacoco-*/
results/potential-bugs/interesting-mismatches/
*.exec
plot-jacoco-coverage.py
*.png
*.csv
*.excluded
coverage-plotting-runs/
cluster-results/
dask-server-log/
.graphs/
replay/
.scala-build/
tpcds-csv-*pc/
tpcds-data-*pc/
tpcds5pc.zip
tf-server-log/
.logs/
bug-repo/
playground/
oracle-servers/polars-oracle-server/basic-json-server-saved.py
oracle-servers/polars-oracle-server/test.py
oracle-servers/polars-oracle-server/test2.py
oracle-servers/polars-oracle-server/test3.py
oracle-servers/polars-oracle-server/test4-timeout-diagnosis.py
udf-gen.py
.env
coverage-analysis-rust/
coverage-analysis-scripts/profdata-to-csv.py
generated/
oracle-servers/dask-oracle-server/test1.py
oracle-servers/polars-oracle-server/test-sql.py
specs/dask-python-minimal.json
specs/dask-python-old.json
tmp
oracle-servers/dask-oracle-server/test-sql-2.py
oracle-servers/dask-oracle-server/test-sql.py
.coverage
minimal-panic.zip
oracle-servers/dask-oracle-server/test-bug-zion-08-g_19591-a_19591-dag_3918-dfg2.py
oracle-servers/dask-oracle-server/test-bug-zion-08-g_7854-a_7856-dag_1571-dfg2.py.py
oracle-servers/polars-oracle-server/test-bug-2.py
oracle-servers/polars-oracle-server/test-bug-zion-03-g_7854-a_7856-dag_1571-dfg2.py.py
venv-polars/

# Local
.bloop/
.metals/
.venv/
.vscode/
project/
requirements-versionless.txt
*deprecated/